@model List<string> // gli dico che gli passerò una lista di stringhe

@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>

<table>

@{
    foreach(var elemento in @Model) //scorro semplicemente la lista e mostro le variabili
    {
        <tr><td>@elemento</td</tr>
    }
}

</table>


    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
